.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

_extensions/
more_scenarios/
images/
_freeze/
_output/
_site/
*_cache/
*_files/
.venv/
renv/

/_*.local

.docx

*.log

*.pdf

*.tex

*.html

*.aux

presentation_paper/demo_paper.docx
